@{
    ViewData["Title"] = "SaaS";
}

<div class="text-center">
    <h3>SaaS</h3>
    <h5>Software como Serviço</h5>
    
    <p>Um exemplo bastante comum de SaaS é a Netflix.</p>
    <p>
        Empresas do tipo SaaS fornecem um serviço que para ser acessado é necessário apenas acesso
        à internet. A Netflix, por exemplo, oferece um serviço de streaming de filmes e séries.
        O produto da empresa é um software. Além disso, a responsabilidade de manter a segurança
        dos dados e a estrutura de todo o sistema é da própria Netflix.
    </p>
    <p>
        Você pode conhecer mais sobre SaaS acessando o seguinte link:
        <a href="https://rockcontent.com/br/blog/saas/">Rock Content: SaaS</a>
    </p>
</div>