@{
    ViewData["Title"] = "IaaS";
}

<div class="text-center">
    <h3>IaaS</h3>
    <h5>Infraestrutura como Serviço</h5>

    <p>Um exemplo bastante comum de IaaS é o Microsoft Azure.</p>
    <p>
        A IaaS oferece infraestrutura como serviço. São serviços fundamentais para a construção de 
        aplicações robustas que são pagos conforme o uso. Azure, AWS e GCP são exemplos de IaaS, 
        oferecendo recursos fundamentais de computação, armazenamento e rede sob demanda.
    </p>
    <p>
        Você pode conhecer mais sobre IaaS acessando o seguinte link:
        <a href="https://azure.microsoft.com/pt-br/resources/cloud-computing-dictionary/what-is-iaas/">Microsoft: IaaS</a>
    </p>
</div>
