@{
    ViewData["Title"] = "PaaS";
}

<div class="text-center">
    <h3>PaaS</h3>
    <h5>Plataforma como Serviço</h5>

    <p>Um exemplo bastante comum de PaaS é o Azure.</p>
    <p>
        Empresas PaaS fornecem plataformas para que sejam desenvolvidas e implantadas soluções de 
        tecnologia para a nuvem. Nesse tipo de solução, você precisa se concentrar apenas no produto
        a ser disponibilizado, toda a camada de infraestruturada é manipulada pela plataforma.
    </p>
    <p>
        Você pode conhecer mais sobre SaaS acessando o seguinte link:
        <a href="https://azure.microsoft.com/pt-br/resources/cloud-computing-dictionary/what-is-paas#:~:text=O%20PaaS%20(plataforma%20como%20servi%C3%A7o,empresariais%20habilitados%20para%20a%20nuvem.">Microsoft: PaaS</a>
    </p>
</div>